@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Haber Ekle </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Kategori İsmi</label>
                        <input type="text" name="CategoryName" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}


