@using EntityLayer.Concrete
@model IEnumerable<New>
<div class="col-lg-9 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            @foreach (var item in Model)
            {

<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="position-relative">
            <a href="/New/NewDetails/@item.NewID">
                <div class="rotate-img">
                    <img src="@item.ImageURL"
                         alt="thumb"
                         class="img-fluid" />
                </div>
            </a>
            <div class="badge-positioned">
                <span class="badge badge-danger font-weight-bold">Flash news</span>
            </div>
        </div>
    </div>
    <div class="col-sm-8  grid-margin">
        <h2 class="mb-2 font-weight-600">
            @item.Title
        </h2>
        <div class="fs-13 mb-2">
            <span class="mr-2">Photo </span>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))
        </div>
        <p class="mb-0">
            @item.Description
        </p>
    </div>
</div>}

        </div>
    </div>
</div>