@using EntityLayer.Concrete
@model List<New>
<div class="col-xl-4 stretch-card grid-margin">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h2>Latest news</h2>
            @foreach (var item in Model)
            {
                <div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                    <div class="pr-3">
                        <h5>@item.Title</h5>
                        <div class="fs-12">
                            <span class="mr-2">@item.Description </span>
                        </div>
                    </div>
                    <div class="rotate-img">
                        <img src="@item.ImageURL"
                             alt="thumb"
                             class="img-fluid img-lg" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>