@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
}

@using (Html.BeginForm("UpdateCategory", "Test", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Deneyim Güncelleme Paneli</p>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" });
                    </div>
                    <div class="form-group">                      
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}


